

.section-head{
    font-family: 'Goudy Old Style';
    font-style: normal;
    font-size:50px;
    text-align:center;
    letter-spacing:0.8px
}

.section-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:10px;
    margin:15px;
}

.slc{

flex:0.45;
margin-top:45px;

}
.src{
    flex:0.55;
    margin:20px;
}


.src .inner-style1{ 
    width:3px;
    height:99px;
    background-color:#DFBD69;
    border-radius: 2px;
    margin-left:25px;

}
.src .inner-style2{ 
    height:50px;
    width:50px;
    /* background-color:#eceae3; */
    border-radius: 50%;
    border: 2px solid #DFBD69;


}
.src .inner-style3{
    height:30px;
    width: 30px;
    border-radius:50%;
    background-color: #DFBD69;
    margin:10px auto;
}

.src .ds-1{
    position: relative;
    padding:10px;
    animation:drop 1s ease;
    animation-fill-mode: forwards;
}
@keyframes drop {
    from {top: 0px;}
    to {top: 30px;}

  }

.ds-2{
    display: flex;
    flex-direction: row;
    /* gap:10px; */
    justify-content: flex-start;
}

.ds-2-style{
    position:relative;
    /* transform:translate(50px) */
    
}
.ds-2-style li{
    font-size: 100px;
    font-family: 'Goudy Old Style';
    line-height:100%;
    color:#D9D9D9;
    animation-delay: 3s;
    
    transform: scale(0);
    animation: scale 3s forwards cubic-bezier(0.5, 0.5, 0.89, 1);
    
}
@keyframes animate {
    0%{transform: scale(0)}

    100% {
        transform: scale(1);
      }
}
.ds-2-style-2{
        display: flex;
        flex-direction: column;
        
}

.ds-2-style-2{
    list-style:none;
    white-space: nowrap;
}

.ds-2-style-2 .listt{
    width:411px;
    height:116px;
    margin-left:5px;
    margin-right: auto;
    white-space: nowrap;

}

.h4{ 
    font-family: 'Avenir LT  65 Medium';
    font-size: 38px;
    letter-spacing: 0.8px;
    text-align:left;
    line-height:5px;
    text-transform: uppercase;
    position:relative;
    animation: myheading 3s ease;
     animation-timing-function: linear;
    /* animation: myheading 3s ease;
    /* animation-delay:1s; */
     animation-fill-mode: forwards;  
}
@keyframes myheading{
    from {left: 30px}
    to{left:0px;}
}

.para{ 
    font-size:20px;
    font-family: 'Varela Round';
    text-align: left;
    line-height:0em;
    position: relative;
    animation: myheading 3s ease;
    animation-timing-function: linear;
   /* animation: myheading 3s ease;
   /* animation-delay:1s; */
    animation-fill-mode: forwards;  
}

.parent-div{
    width:70%;
    height:45%;
    position: relative;
    animation: scale 3s linear infinite
}
.img-gallery  {
   width: 650px;
   height:550px;
}

.parent-div > :nth-child(2){
    position: absolute;
    top:30px;
    left:30px;
    animation-delay: 3s;
    animation: move 3s ease linear infinite;
}
.parent-div > :nth-child(3){
    position: absolute;
    top:30px;
    left:30px;
    animation-delay: 3s;
    animation: move 3s ease linear infinite;
}
.parent-div > :nth-child(4){
    position: absolute;
    top:30px;
    left:30px;
    animation-delay: 3s;
    animation: move 3s ease linear infinite;
}
.parent-div > :nth-child(5){
    position: absolute;
    top:30px;
    left:30px;
    animation-delay: 3s;
    animation: move 3s ease linear infinite;
}


/* @keyframes scale {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } */

  @keyframes move{
    0%{
        opacity: 0;
    }
    from{
        top:30px;
    }
    50%{
        opacity: 0.5;
    }
    to{
        top:0px;
    }
    100%{
        opactiy: 1
    }
  }